canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  background-color: #acadc2;
  touch-action: manipulation;
}

body {
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

.hide {
  visibility: hidden;
}

.logo {
  width: 500px;
  height: 200px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    html {
      background-image: url("assets/img/jarvis.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 400px;
      height: 300px;
    }

    canvas {
      margin-top: 100px;
      touch-action: manipulation;
      height: 300
    }
}


